* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #666;
    color: #eee;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

canvas {
    border: 2px solid #000000;
}
